{% extends 'base2.html.twig' %}

{% block titles %}Add Evenements{% endblock %}

{% block bodyBack %}
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        {{ form_start(form) }}

                        <div class="position-relative form-group">
                            <label for="exampleEmail" class="">Titre</label>
                            {{ form_widget(form.titre, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.titre) }}
                            <div class="position-relative form-group">
                                <label for="examplePassword" class="">Lieu</label>
                                {{ form_widget(form.lieu, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.lieu) }}
                            </div>
                            <div class="position-relative form-group">
                                <label for="examplePassword" class="">Date Debut</label>
                                {{ form_widget(form.datadeb, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.datadeb) }}
                            </div>
                            <div class="position-relative form-group">
                                <label for="examplePassword" class="">Date Fin</label>
                                {{ form_widget(form.dateFin, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.dateFin) }}
                            </div>
                            <div class="position-relative form-group">
                                <label for="examplePassword" class="">Description</label>
                                {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.description) }}
                            </div>
                            <div class="position-relative form-group">
                                <label for="examplePassword" class="">File</label>
                                {{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.file) }}
                            </div>

                            <input type="submit" value="Enregistrer" class="btn btn-success" formnovalidate />
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

{% endblock %}