
{% extends 'base.html.twig' %}
{% block title %} Panier
{% endblock %}

{% block bodyMenu %}
    <div class="page-header mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Votre panier</h2>
                </div>
                <div class="col-12">
                    <a href="">Home</a>
                    <a href="">Votre panier</a>
                </div>
            </div>
        </div>
    </div>

    {% if items | length >0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.nomProduit }}</td>
                    <td>{{ item.product.prixProduit }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.prixProduit * item.quantity }}</td>
                    <td>
                        <a href="{{ path('cart_remove', {'id':item.product.id}) }}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total :
                    </td>

                    <td>{{ total }}</td>
                    <td><a href="{{ path('remove_all')}}" class="btn btn-danger btn-sm"> Supprimmer tout
                            <i class="fas fa-trash-alt"></i>
                        </a></td>


                    <td>

                    <a href="{{ path('livraison_new') }}" class="btn btn-success float-right" >Commander
                    <i class="fas fa-shopping-cart mr1"></i>
                    </a>
                </td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p> Votre panier est vide!</p>
    {% endif %}
{% endblock %}