{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block bodyMenu %}
    <div class="page-header mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Profil</h2>
                </div>
                <div class="col-12">
                    <a href="">Home</a>
                    <a href="">Profil</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date</th>
            <th>Sexe</th>
            <th>Numero_tele</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Password</th>

        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.date ? user.date|date('Y-m-d') : '' }}</td>
                <td>{{ user.sexe }}</td>
                <td>{{ user.numeroTele }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password|length }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('user_show_', {'id': user.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('user_edit_', {'id': user.id}) }}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
