{% extends 'base.html.twig' %}
{% block bodyMenu %}

    <!-- Page Header Start -->
    <div class="page-header mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>{{restaurant.nomRestaurant }}</h2>
                </div>
                <div class="col-12">
                    <a href="">Accueil</a>
                    <a href="">Reservation</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <div class="body-inner">


        <section id="main-container" class="main-container">
            <div class="container">
                <div class="row">

                    <div class="col-xl-3 col-lg-4">
                        <div class="sidebar sidebar-left">
                            <div class="widget">
                                <h3 class="widget-title">{{restaurant.nomRestaurant }} </h3>
                                <ul class="nav service-menu">


{#                             <li><a href="#">Address</a></li>#}
                                    <li><a href="{{ path('details_menu', {'id_restaurant': restaurant.getIdRestaurant()  }) }}">Menu</a></li>


                                </ul>
                            </div><!-- Widget end -->

                            <div class="widget">
                                <div class="quote-item quote-border">
                                    <div class="quote-text-border">
                                        Je suis le propriaitaire ce restaurant
                                        Contactez moi en cas de besoin
                                        {{restaurant.NumTel }}


                                    </div>

                                    <div class="quote-item-footer">
                                        <img loading="lazy" class="testimonial-thumb" src="{{ asset('Front/images1/clients/testimonial1.png') }}" alt="testimonial">
                                        <div class="quote-item-info">
                                            <h3 class="quote-author"> {{nomProp}} </h3>

                                        </div>
                                    </div>
                                </div><!-- Quote item end -->

                            </div><!-- Widget end -->

                        </div><!-- Sidebar end -->
                    </div><!-- Sidebar Col end -->

                    <div class="col-xl-8 col-lg-8">
                        <div class="content-inner-page">

                            <h2 class="column-title mrt-0">{{restaurant.nomRestaurant }}</h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <p>   {{restaurant.DescRestaurant }}   </p>
                                          </div><!-- col end -->
                            </div><!-- 1st row end-->

                            <div class="gap-40"></div>

                            <div id="page-slider" class="page-slider">
                                <div class="item">
                                    <img loading="lazy" class="img-fluid" src="{{ asset('Front/img/restau.jpg') }}" alt="project-slider-image" />
                                </div>


                            </div><!-- Page slider end -->

                            <div class="gap-40"></div>





                                    <!--/ Accordion end -->
                                </div>
                            </div>
                            <!--2nd row end -->

                            <div class="gap-40"></div>


                        </div><!-- Content inner end -->
                    </div><!-- Content Col end -->
        </section>
    </div> </div>
                </div><!-- Main row end -->
            </div><!-- Conatiner end -->
        </section><!-- Main container end -->
    </div><!-- Body inner end -->


{% endblock %}