<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">
    <!-- Favicon -->
    <link href="{{ asset('Front/img/favicon.ico') }}" rel="icon">
    {% block stylesheets %}

        <!-- Google Font -->
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700') }}" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css') }}" rel="stylesheet">
        <link href="{{ asset('Front/lib/animate/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset('Front/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
        <link href="{{ asset('Front/lib/flaticon/font/flaticon.css') }}" rel="stylesheet">
        <link href="{{ asset('Front/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" />

        <!-- Template Stylesheet -->
        <link href="{{ asset('Front/css/style.css') }}" rel="stylesheet">


        {#<!-- CSS
================================================== -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('Front/plugins1/bootstrap/bootstrap.min.css') }}">

        <!-- FontAwesome -->
        <link rel="stylesheet" href="{{ asset('Front/plugins1/fontawesome/css/all.min.css') }}">
        <!-- Animation -->
        <link rel="stylesheet" href="{{ asset('Front/plugins1/animate-css/animate.css') }}">
        <!-- slick Carousel -->
        <link rel="stylesheet" href="{{ asset('Front/plugins1/slick/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('Front/plugins1/slick/slick-theme.css') }}">
        <!-- Colorbox -->
        <link rel="stylesheet" href="{{ asset('Front/plugins1/colorbox/colorbox.css') }}">
        <!-- Template styles-->
        <link rel="stylesheet" href="{{ asset('Front/css1/style.css') }}">

#}


        <!-- FontAwesome -->
        <link rel="stylesheet" href="{{ asset('Front/plugins1/fontawesome/css/all.min.css') }}">
        <!-- Animation -->
        <link rel="stylesheet" href="{{ asset('Front/plugins1/animate-css/animate.css') }}">
        <!-- slick Carousel -->
        <link rel="stylesheet" href="{{ asset('Front/plugins1/slick/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('Front/plugins1/slick/slick-theme.css') }}">
        <!-- Template styles-->
        <link rel="stylesheet" href="{{ asset('Front/css1/style.css') }}">



    {% endblock %}

    {% block javascripts %}
        <!-- JavaScript Libraries -->
        <script src="{{ asset('https://code.jquery.com/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('Front/lib/easing/easing.min.js') }}"></script>
        <script src="{{ asset('Front/lib/owlcarousel/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('Front/lib/tempusdominus/js/moment.min.js') }}"></script>
        <script src="{{ asset('Front/lib/tempusdominus/js/moment-timezone.min.js') }}"></script>
        <script src="{{ asset('Front/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script>

        <!-- Contact Javascript File -->
        <script src="{{ asset('Front/mail/jqBootstrapValidation.min.js') }}"></script>
        <script src="{{ asset('Front/mail/contact.js') }}"></script>

        <!-- Template Javascript -->
        <script src="{{ asset('Front/js/main.js') }}"></script>




        <!-- Javascript Files
       ================================================== -->

        <!-- initialize jQuery Library -->
        <script src="{{ asset('Front/plugins1/jQuery/jquery.min.js') }}"></script>
        <!-- Bootstrap jQuery -->
        <script src="{{ asset('Front/plugins1/bootstrap/bootstrap.min.js') }}" defer></script>
        <!-- Slick Carousel -->
        <script src="{{ asset('Front/plugins1/slick/slick.min.js') }}"></script>
        <script src="{{ asset('Front/plugins1/slick/slick-animation.min.j') }}s"></script>
        <!-- Color box -->
        <script src="{{ asset('Front/plugins1/colorbox/jquery.colorbox.js') }}"></script>
        <!-- shuffle -->
        <script src="{{ asset('Front/plugins1/shuffle/shuffle.min.js') }}" defer></script>
        <!-- Template custom -->
        <script src="{{ asset('Front/js1/script.js') }}"></script>





    {% endblock %}
</head>
<body>
{% block body %}

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
            <img width="40" src="{{ asset('Front/img/DMA9_2.jpg') }}" alt="Image">
            <a href="base.html.twig" class="navbar-brand">Dma9-دمق</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">

                <li class="navbar-nav ml-auto">
                    <a href="{{ path('home') }}" class="nav-item nav-link active">Home</a>
                    <a href="{{ path('about') }}" class="nav-item nav-link">About</a>
{#                    <a href="{{ path("feature") }}" class="nav-item nav-link">Feature</a>#}
                    <a href="{{ path("restaurant_liste") }}" class="nav-item nav-link"> Restaurant </a>
                    <a href="{{ path("offre_travail_showAll") }}" class="nav-item nav-link">Jobs</a>

                    {% if app.user  %}

                    {# <a href="{{ path('templates/menu.html.twig') }}" class="nav-item nav-link">Menu</a> #}
                    {# nouur <a href="{{ path("categorie_front") }}" class="nav-item nav-link"> Categories </a> #}
                    {#<a href="{{ path("details_menu") }}" class="nav-item nav-link">Detail menu</a>#}
                    <a href="{{ path("reservation_new") }}" class="nav-item nav-link"> Reservation </a>
                    {% endif %}


                    <div class="nav-item dropdown">

                        <div class="mb-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Boutique </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a href="{{ path("produit_front") }}" class="dropdown-item">Produits</a>
                                <a href="{{ path("category_front") }}" class="dropdown-item" >Catégories</a>
                            </div>
                        </div>
                    </div>
                    {#                    <a href="{{ path("category_front") }}" class="nav-item nav-link">Categories</a>#}
                    <a href="{{ path("contact") }}" class="nav-item nav-link">Contact</a>

                    <a href="{{ path("panier") }}" class="nav-item nav-link">Panier</a>
                    <a href="{{ path("livraison_index") }}" class="nav-item nav-link">Commandes</a>

                    {% if app.user %}
                    <div class="nav-item dropdown">

                        <div class="mb-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>  </a>


                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ app.user.username }}
                                </a>
                                <a class="dropdown-item" href=" ">Profile</a>
                                {% if app.user.roles[0]=="ROLE_ADMIN" %}
                                <a class="dropdown-item" href="{{ path('user_index') }}">Admin</a>
                                {% endif %}
                                {% if app.user.roles[0]=="ROLE_RESTAURANT" %}
                                    <a class="dropdown-item" href="{{ path('restaurant_index') }}">Admin</a>
                                {% endif %}
                                <a class="dropdown-item" href="{{ path("app_logout") }}" >Logout</a>

                            </div>
                        </div>

                    </div>

                    {% else %}
                    <div class="nav-item dropdown">


                        <div class="mb-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>  </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path("app_login") }}" >se connecter</a>

                                    <a class="dropdown-item" href="{{ path("app_register") }}" >s'inscrire</a>
                                </div>
                        </div>

                    </div>
                    {% endif %}

                   {# <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu">
                            <a href="{{ path(blog.html) }}" class="dropdown-item">Blog Grid</a>
                            <a href="{{ path("single.html") }}" class="dropdown-item">Blog Detail</a>
                        </div>
                    </div>
                    #}
                </div>
            </div>

    </div>
    </div>
    <!-- Nav Bar End -->




{% block bodyMenu %} {% endblock %}


    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-contact">
                                <h2>Our Address</h2>
                                <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                                <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                                <p><i class="fa fa-envelope"></i>info@example.com</p>
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-link">
                                <h2>Quick Links</h2>
                                <a href="">Terms of use</a>
                                <a href="">Privacy policy</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-newsletter">
                        <h2>Newsletter</h2>
                        <p>
                            Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum nec non quam. Tortor eu placerat rhoncus, lorem quam iaculis felis, sed lacus neque id eros.
                        </p>
                        <div class="form">
                            <input class="form-control" placeholder="Email goes here">
                            <button class="btn custom-btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>Copyright &copy; <a href="#">Your Site Name</a>, All Right Reserved.</p>
                <p>Designed By <a href= {{asset('https://htmlcodex.com')}} >HTML Codex</a></p>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


    <!-- JavaScript Libraries -->

    <!-- Contact Javascript File -->

    <!-- Template Javascript -->


{% endblock %}
</body>
</html>