{% extends 'base2.html.twig' %}

{% block title %}Categories{% endblock %}

{% block bodyBack %}
    <h1>Categories</h1>

    <table class="table" border="2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.Libelle }}</td>
                <td>
                       <a href="{{ path('category_show', {'id': categorie.id}) }} ">Voir</a>
                     <a href=" {{  path('category_edit', {'id': categorie.id}) }}">Modifier</a>
                    {{ include('categorie/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_new') }}">Create new</a>
{% endblock %}
